################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreditCardRecruit.Api/CreditCardRecruit.Api/obj
/CreditCardRecruit.Api/CreditCardRecruit.Api.Tests.Integration/obj
/CreditCardRecruit.Api/CreditCardRecruit.Api.Tests.Unit/obj
/CreditCardRecruit.Api/CreditCardRecruit.Api/bin/Debug/net5.0
/CreditCardRecruit.Api/.vs
